<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../public/css/normalize.css">
  <link rel="stylesheet" href="../public/css/application.css">
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Alegreya:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <script src="../public/js/jquery-2.1.4.js"></script>
  <script src="../public/js/application.js"></script>
  <script src="../public/js/markdown.js"></script>

  <title>Markdown Madness!</title>
</head>

<body>
  <h1>Markdown Madness Widget!</h1>
  <h2>Write something here to watch it be transformed as you go :</h2>
  <textarea id="inputbox" rows="6" cols="50" placeholder="Write something for markdown here..."></textarea>
  <h2>...And your marked-down text will appear below!</h2>
  <div id="previewbox" rows="6" cols="50"></div>
</body>




